<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/16bdba87f0.js" crossorigin="anonymous"></script>
    <title> {{title}} </title>
</head>
<body>
    <header class ="back-color header-grid top-rounder">
       
       <div><a href="/"><i class="fab fa-airbnb logo-beef"></i></a></div>

        <nav class="left-align"> 
            <ul class="line-up">
                <li><a href="/listing">Listings</a></li>
                {{#if user}}
                <li><a href="/dash">Dashboard</a></li>
                {{else}}
                <li><a href=''>Dashboard</a></li>
                {{/if}}
                
                {{#if user}}
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/registration">Sign Up</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <div>

    </div>

    
    <main>
        {{{body}}}
    </main>
    <footer class="back-color footer-grid bottom bottom-rounder">
        <ul class="line-up foot-links">
            <li>Host</li>
            <li>Contact</li>
            <li>About</li>
        </ul>

        <img src="" alt="">

        <ul class="line-up socials">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>
    </footer>
</body>
</html>