@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
.back-color{
    background-color: #FF5A5F;
    padding: 0.5rem 2rem;
}
.top-rounder{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.bottom-rounder{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.header-grid{
    display: grid;
    grid-template-columns: 4fr 4fr;
}

.header-grid > nav > ul{
    padding-top: 1.5rem;
}

.line-up{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    vertical-align: middle;
}

.line-up > li {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;

}

.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.foot-links{
    padding-top: 1rem;
    color: white;
    font-size: 1.2rem;

}

.bottom{
    position: relative;
    bottom: 0em;
    width: 100%;
}

.logo-beef{
    font-size: 5rem;
    color: white;
}

.left-align{
    display: inline-block;
    text-align: right;
}

.socials{
    padding-top: 1rem;
    color: white;
    font-size: 6rem;
}

/* ----------HOME------------ */

/* banner */
.home-splash{

    margin: 2rem;
    height: 40rem;
    background-image: url("/img/home-splash.jpg"); 
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 2rem;
    
}

.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    padding:2em;
    padding-top: 4em;
}

.split > section{
    padding:1rem 1rem;
    background-color: white;;
    color: rgb(83, 83, 83);
    border-radius: 1.5rem;
}

.split > section > h1, .split > section > div > h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
}

.label-fix{
    display: block;

}

.dropdown > label{
    display: block;
    font-size: 1.2;
}

.dropdown-cont{
    display: none;
}
.dropdown:hover > .dropdown-cont{
    display: block;
}

.bar{
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: 1px solid #FF5A5F;
    padding: 1rem;
    padding-left: 1rem;
    color: rgb(175, 174, 174);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.butt{
    display: inline-block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: #FF5A5F;
    border-radius: 1rem;
    color: white;
    font-size: 1.4rem;
    padding: 1rem;

}

.middle{
    padding-top: 5rem;
}

.acc-owned{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;

}

.acc-owned > a{
    font-weight: bold;
    font-size: 1.3rem;
}

/* promo */

.promo{
    border: 1px solid  #FF5A5F;
    margin: 2rem;
    border-radius: 2rem;
}

.promo-content{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.promo-head{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid  #FF5A5F;
    padding:1rem;
    width: 50%;
    margin: auto;
}

.promo-img{
    background-image: url("/img/promo.jpg");
    box-sizing: border-box;
    background-size: cover;;
    padding: 1rem;
    border-radius: 1rem;
    background-repeat: no-repeat;
    margin: 1rem;
}

.promo-content > div > h2{
    padding-top: 0.5rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    padding-left: 1rem;
}

.promo-content > div > p{
    padding: 1rem;
    font-weight: lighter;
    padding-bottom: 3rem;
}

.promo-content > div > a{
    display: inline-block;
    font-weight: bold;
    padding:0.5rem;
    border: 1px solid  #FF5A5F;
    margin-left: 1rem;
    margin-bottom: 2rem;
}


/* info */

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    margin: 8rem;
}

.info > section > h1{
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #FF5A5F;
    margin-bottom: 1rem;
}

.info > section > p{
    text-align: center;
    font-weight: lighter;
}

.info-vid{
    width: 80%;
    height: 40rem;
    margin: 0rem 8rem;
    margin-bottom: 4rem;
}

.center{
    display: block;
    text-align: center;
}