@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
.back-color{
    background-color: #FF5A5F;
    padding: 0.5rem 2rem;
}
.top-rounder{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.bottom-rounder{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.header-grid{
    display: grid;
    grid-template-columns: 4fr 4fr;
}

.header-grid > nav > ul{
    padding-top: 1.5rem;
}

.line-up{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    vertical-align: middle;
}

.line-up > li {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;

}

.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.foot-links{
    padding-top: 1rem;
    color: white;
    font-size: 2rem;
}

.bottom{
    position: relative;
    bottom: 0em;
    width: 100%;
}

.logo-beef{
    font-size: 5rem;
    color: white;
}

.left-align{
    display: inline-block;
    text-align: right;
}

.socials{
    padding-top: 1rem;
    color: white;
    font-size: 6rem;
}

/* ----------HOME------------ */

/* banner */
.home-splash{

    margin: 2rem;
    height: 40rem;
    background-image: url("/img/home-splash.jpg"); 
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 2rem;
    
}

.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    padding:2em;
    padding-top: 4em;
}

.split > section{
    padding:1rem 1rem;
    background-color: white;;
    color: rgb(83, 83, 83);
    border-radius: 1.5rem;
}

.split > section > h1, .split > section > div > h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
}

.label-fix{
    display: block;

}

.dropdown > label{
    display: block;
    font-size: 1.2;
}

.dropdown-cont{
    display: none;
}
.dropdown:hover > .dropdown-cont{
    display: block;
}

.bar{
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: 1px solid #FF5A5F;
    padding: 1rem;
    padding-left: 1rem;
    color: rgb(175, 174, 174);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.butt{
    display: inline-block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: #FF5A5F;
    border-radius: 1rem;
    color: white;
    font-size: 1.4rem;
    padding: 1rem;

}

.middle{
    padding-top: 5rem;
}

.acc-owned{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;

}

.acc-owned > a{
    font-weight: bold;
    font-size: 1.3rem;
}

/* promo */

.promo{
    border: 1px solid  #FF5A5F;
    margin: 2rem;
    border-radius: 2rem;
}

.promo-content{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.promo-head{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid  #FF5A5F;
    padding:1rem;
    width: 50%;
    margin: auto;
}

.promo-img{
    background-image: url("/img/promo.jpg");
    box-sizing: border-box;
    background-size: cover;;
    padding: 1rem;
    border-radius: 1rem;
    background-repeat: no-repeat;
    margin: 1rem;
}

.promo-content > div > h2{
    padding-top: 0.5rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    padding-left: 1rem;
}

.promo-content > div > p{
    padding: 1rem;
    font-weight: lighter;
    padding-bottom: 3rem;
}

.promo-content > div > a{
    display: inline-block;
    font-weight: bold;
    padding:0.5rem;
    border: 1px solid  #FF5A5F;
    margin-left: 1rem;
    margin-bottom: 2rem;
}


/* info */

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    margin: 4rem;
}

.info > section > h1{
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #FF5A5F;
    margin-bottom: 1rem;
}

.info > section > p{
    text-align: center;
    font-weight: lighter;
}

.info-vid{

    width: 80%;
    height: 40rem;
    margin: 2rem 8rem;
    margin-bottom: 4rem;
}

.center{
    display: block;
    text-align: center;
}

/* ----------LISTINGS--------- */

.list-title{
    text-align: center;
    padding-top: 1rem;;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid #FF5A5F;
    margin: 0rem 30rem;
}
.list-grid{
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.ft{
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.list-img{
    border-radius: 2rem;
    padding: 1rem;
}

.list-grid > div > div{
    padding-left: 1rem;
}

.star{
    display: inline-block;
    color: #FF5A5F;
    font-size: 1.2rem;
}

.list-price > strong{
    
    font-weight: bold;
    
}

.list-price{
    padding-left: 1rem;
}

.list-rateing{
    display: inline-block;
    text-align: right;
    padding-left: 1rem;
}

.list-name{
    font-size: 1.3rem;
    font-weight: normal;
}

/* -----Registration --------*/


.reg-style{
    margin: 2rem 2rem;
}

.name-grd{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.error-msg{
    text-align: center;
    color: red;
    font-weight: bold;
}

.space{
    padding-bottom: 1rem;
}

.section-under{
    border-bottom: 2px solid #FF5A5F;
    margin: 0% 10%;
    margin-bottom: 2rem;
}
/* ---------------DASH---------- */

.line-up-dash{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    vertical-align: middle;
    color: black;
    padding: 2rem 15rem;
    padding-bottom: 3rem;
}
.line-up-dash > li{
    text-align: center;
    font-size: 1.5rem;
}

.butt-wrap{
    display: inline-block;
    text-align: center;
}
.dash-butt{
    font-weight: bold;
    font-size: 2rem;
    padding:0.5rem;
    border: 1px solid  #FF5A5F;
    margin-left: 1rem;
    margin:0rem 3rem;
}
.butt-cent{
    margin: 3rem;
    text-align: center;
}
.dash-p{
    font-size:1.3rem;
}
.cent{
    color: #FF5A5F;
    text-align: center;
    padding: 0.5rem;
    font-size: 5rem;
}

.bord{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
}
/* ============MOBILE=========== */
@media screen and (max-width: 1024px) {
    .home-splash{
        background-image: none;
        height: 80%;
    }

    .split{
        display:block;
    }
    .header-grid{
        grid-template-columns: 1fr 3fr;
    }
    .socials{
        font-size: 1.5rem;
    }
    .foot-links{
        font-size: 1rem;
    }
    .line-up > li{
        font-size: 1rem;
    }
    .footer-grid{
        grid-template-columns: 3fr 1fr 3fr;
    }

    .promo{
        display: block;
    }
    .promo-content{
        display:block;
        text-align: center;
    }
    .ft{
        display: block;
    }
    .promo-img{
        display: none;
        background-image: none;
        box-sizing: content-box;
    }
    .info{
        display: block;
    }
    .info-vid{
        height: 15rem;
        width: 90%;
        margin: 0% 5%;
        margin-bottom: 2rem;
    }


    /* listings */

    .list-title{
        margin: 2rem 8rem;
    }
    .list-grid{
        display: block;
    }
 
    /* regg */

    .name-grd{
        display: block;
    }  
    .reg-style{
        padding: 6rem 0rem;
    }
    /* dash */
    .line-up-dash{
        display: block;
        text-align: center;
        color: black;
        padding: 0rem 0rem;
        padding-bottom: 3rem;
    }


}

