<h1 class="list-title">{{user.firstName}}'s BnB</h1>

<ul class="line-up-dash">
    <li><a href="">Settings</a></li>
    <li><a href="">Account</a></li>
    <li><a href="">Privacy</a></li>
</ul>

<div class="cent"><a href="/"><i class="fab fa-airbnb bord"></i></a></div>



<section class="info">
    <section class="stay">
        <h1><i class="fas fa-plane"></i>Stays</h1>
        <P class="dash-p">Look at previos places you have been.rate and review past stays. renew rent</P>
        <div class="butt-cent"><a href="" class="dash-butt">View</a></div>
    </section>

    <section class="host">
        <h1><i class="fas fa-home"></i></i>Hostings</h1>
        <p class="dash-p">View your places available for people to stay. change prices post new places or delete old ones.</p>
        <ul class="host-butt">
            <li class="butt-cent"><a href="" class="dash-butt">View</a></li>
            <li class="butt-cent"><a href="/registration/make" class="dash-butt">Post</a></li>
        </ul>
        
    </section>
</section>



